<html style="margin: 0; padding: 0; height: 100%; width: 100%; text-align: center" *ngIf="userDeleted">
<div class="jumbotron">
  <h1 class="display-3">Veuillez confirmer la suppression du compte utilisateur.</h1>
  <p> Vous ne pourrez pas revenir en arrière</p>
</div>
<p>Si vous êtes sûr de vous, veuillez renseigner le mot "EFFACER" dans le champs suivant pour pouvoir supprimer le comppte utilisateur</p>
<input type="text" class="form-control" name="delete" (change)="checkDeleted(inputDeleted.value)" #inputDeleted>
<div style="margin: 5%">
  <button class="btn btn-danger" (click)="onRemove()" [disabled]="!isDeleted">
    Supprimer
  </button>
  <button class="btn btn-outline-secondary" (click)="userDeleted=false">Retour</button>
</div>
</html>

<html style="margin: 0; padding: 0; height: 100%; width: 100%" *ngIf="!userDeleted">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/account">Compte <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: auto; margin-top: 5px; position: relative;" class="row">
    <div class="card border-secondary mb-3" style="width: 49%; position: relative;">
      <div class="card-header">Modification des informations utilisateur</div>
      <div class="card-body">
        <form name="signInForm" (ngSubmit)="onSubmitInfo(inputLastname.value, inputFirstname.value, inputEmail.value)">
          <div class="form-group">
            <label>Nom: </label>
            <input type="text" class="form-control" name="lastname" value="{{user.lastName}}" #inputLastname>
          </div>
          <div class="form-group">
            <label>Prénom: </label>
            <input type="text" class="form-control" name="firstname" value="{{user.firstName}}" #inputFirstname>
          </div>
          <div class="form-group">
            <label>Adresse email: </label>
            <input type="email" class="form-control" name="email" value="{{user.email}}" #inputEmail>
          </div>
          <button type="submit" class="btn btn-primary" style="float: right;">Modifier les informations</button>
        </form>
      </div>
    </div>
    <div style="width: 49%; margin-left: 2%">
      <div class="card border-secondary mb-3">
        <div class="card-header">Changement de mot de passe</div>
        <div class="card-body">
          <form name="signInForm" (ngSubmit)="onSubmitPassword(inputOldPassword.value, inputNewPassword.value, inputRepeatNewPassword.value)" >
            <div class="form-group">
              <label>Ancien mot de passe: </label>
              <input type="password" class="form-control" name="oldPassword" #inputOldPassword>
            </div>
            <div class="form-group">
              <label>Nouveau mot de passe: </label>
              <input type="password" class="form-control" name="newPassword"  #inputNewPassword>
            </div>
            <div class="form-group">
              <label>Répéter nouveau mot de passe: </label>
              <input type="password" class="form-control" name="repeatNewPassword"  #inputRepeatNewPassword>
            </div>
            <button type="submit" class="btn btn-primary" style="float: right;">Modifier le mot de passe</button>
          </form>
        </div>
      </div>
      <div class="card border-danger mb-3" style="margin-top: 5px;">
        <div class="card-header">Suppression d'utilisateur</div>
        <div class="card-body">
          <p class="card-text" style="color: red">Attention, supprimer le compte est irréversible .</p>
          <button class="btn btn-danger" style="float: right;" (click)="deleteUser()">Supprimer le compte</button>
        </div>
      </div>
    </div>
  </body>
</html>
