<html style="margin: 0; padding: 0; height: 100%; width: 100%">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Accueil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservation">Réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oursites">Voir nos sites</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="float:right">
      <li class="nav-item active" *ngIf="user.type!='USER'">
        <a class="nav-link" href="/mytickets">Administration <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Compte </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="nav nav-tabs" style="margin-top: 5px">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/mytickets">Mes tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/ticket">Tickets non affectés</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/view-ticket">Tous les tickets</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="/sites">Sites</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="/users">Utilisateurs</a>
  </li>
  <li *ngIf="user.type =='ADMIN'" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-reservation">Réservations</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-order">Commandes</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-material">Matériel</a>
  </li>
</ul>

<body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
<div class="jumbotron row" style="width: 100%; text-align: center; padding: 30px; margin: 0; position: relative">
  <div style="width: 25%; text-align: center;">
    <p>Utilisateur: </p>
    <select class="custom-select form-control" style="width: 90%" #selectUser>
      <option value="">Tous</option>
      <option *ngFor="let userOfArray of users" [value]="userOfArray.id" >
        {{userOfArray.firstName + ' ' + userOfArray.lastName}}
      </option>
    </select>
  </div>
  <div style="width: 25%; text-align: center;">
    <p >Statut: </p>
    <select class="custom-select form-control" style="width: 90%"  id="selectStatus" #selectStatus>
      <option value="">Tous</option>
      <option value="EN ATTENTE D'AFFECTATION">EN ATTENTE D'AFFECTATION</option>
      <option value="AFFECTER">AFFECTER</option>
      <option value="CLOS">CLOS</option>
    </select>
  </div>
  <div style="width: 25%; text-align: center;">
    <p>Date: </p>
    <input type="date" class="form-control" style="width: 90%" name="date" id="calendar" #calendar>
  </div>
  <div style="width: 25%; text-align: center;">
    <button class="btn btn-primary" style="top: 50%; transform: translateY(50%);"
            (click)="activeFilter(selectUser.value, selectStatus.value, calendar.value)">
      Filtrer
    </button>
    <button class="btn btn-outline-danger" style="top: 50%; transform: translateY(50%); margin-left: 5px"
            (click)="deleteFilter()" [disabled]="!filtred">
      Supprimer le(s) filtre(s)
    </button>
  </div>
</div>

<table class="table table-hover" style="margin-top: 5px;" *ngIf="!filtred">
  <thead class="table-success">
  <tr>
    <th scope="col">Utilisateur</th>
    <th scope="col">Développeur</th>
    <th scope="col">Titre</th>
    <th scope="col">Type</th>
    <th scope="col">Matériel concerné</th>
    <th scope="col">Statut</th>
    <th scope="col">Date de création</th>
  </tr>
  </thead>
  <tbody *ngFor="let ticketOfArray of tickets">
  <tr>
    <td>{{getUserName(ticketOfArray.idUser)}}</td>
    <td>{{getUserName(ticketOfArray.idUserDev)}}</td>
    <td>{{ticketOfArray.title}}</td>
    <td>{{ticketOfArray.type}}</td>
    <td>{{getMaterialName(ticketOfArray.idMaterial)}}</td>
    <td>{{ticketOfArray.status}}</td>
    <td>{{ticketOfArray.created_at | date :'dd/MM/yyyy'}}</td>
  </tr>
  </tbody>
</table>

<table class="table table-hover" style="margin-top: 5px;" *ngIf="filtred">
  <thead class="table-success">
  <tr>
    <th scope="col">Utilisateur</th>
    <th scope="col">Développeur</th>
    <th scope="col">Titre</th>
    <th scope="col">Type</th>
    <th scope="col">Matériel concerné</th>
    <th scope="col">Statut</th>
    <th scope="col">Date de création</th>
  </tr>
  </thead>
  <tbody *ngFor="let ticketOfArray of ticketFiltred ">
  <tr>
    <td>{{getUserName(ticketOfArray.idUser)}}</td>
    <td>{{getUserName(ticketOfArray.idUserDev)}}</td>
    <td>{{ticketOfArray.title}}</td>
    <td>{{ticketOfArray.type}}</td>
    <td>{{getMaterialName(ticketOfArray.idMaterial)}}</td>
    <td>{{ticketOfArray.status}}</td>
    <td>{{ticketOfArray.created_at | date :'dd/MM/yyyy'}}</td>
  </tr>
  </tbody>
</table>
</body>
</html>

