<html style="margin: 0; padding: 0; height: 100%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <<img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: 0; min-height: 100%" class="row">
    <div style="position: absolute; width: 66%; height: 68%; top:12%; left:2%; border-radius: 10px; overflow: auto;
                border: 1px white solid; background-color: lightgrey" id="messageDiv">
      <div *ngFor="let message of messages" >
        <div class="card text-white bg-info mb-3" style="width: 70%; float: right; margin-right: 1%"
             *ngIf="message.idUser == user.id">
          <div class="card-header">{{message.date | date : 'dd/MM/yyyy HH:mm'}}</div>
          <div class="card-body">
            <p class="card-text">{{message.message}}</p>
          </div>
        </div>
        <div class="card bg-light mb-3" style="width: 70%; float: left; margin-left: 1%"
              *ngIf="message.idUser != user.id">
          <div class="card-header">{{message.date | date : 'dd/MM/yyyy HH:mm'}}</div>
          <div class="card-body">
            <p class="card-text">{{message.message}}</p>
          </div>
        </div>
      </div>
    </div>
    <div style="position: absolute; width: 66%; height: 18%; bottom:2%; left:2%">
      <form class="form-group row" id="form">
        <textarea class="form-control" rows="4"  style="width: 80%; margin-left: 2.5%; resize: none" id="message"
                  #messageInput placeholder="Ecrivez un message ..." ></textarea>
        <button type="submit" class="btn btn-primary" (click)="sendMessage(messageInput.value)" style="width: 15%"
                [disabled]="closed">
          Envoyer
        </button>
      </form>
    </div>
    <div *ngIf="user.type != 'USER'">
      <div style="position: absolute; width: 30%; height: 55%; top:12%; right:2%" class="card border-secondary mb-3"
           *ngFor="let ticket of tickets">
        <div class="card-header">Informations</div>
        <div class="card-body">
          <p class="card-text">Nom: {{ticket.title}}</p>
          <p class="card-text">Type: {{ticket.type}}</p>
          <p class="card-text">Matériel concerné: {{getMaterialName(ticket.idMaterial)}}</p>
          <p class="card-text">Etat: {{ticket.status}}</p>
          <p class="card-text">Date de création: {{ticket.created_at | date : 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div style="position: absolute; width: 30%; height: 28%; bottom:2%; right:2%"
           class="card border-primary mb-3" *ngFor="let ticket of tickets">
        <div class="card-header">Clore le ticket</div>
        <div class="card-body" style="text-align:center">
          <button class="btn btn-outline-primary" (click)="closeTicket()" [disabled]="closed">
            Clore le ticket
          </button>
        </div>

      </div>
    </div>
    <div *ngIf="user.type == 'USER'">
      <div style="position: absolute; width: 30%; height: 83%; top:12%; right:2%" class="card border-secondary mb-3"
           *ngFor="let ticket of tickets">
        <div class="card-header">Informations</div>
        <div class="card-body">
          <p class="card-text">Nom: {{ticket.title}}</p>
          <p class="card-text">Type: {{ticket.type}}</p>
          <p class="card-text">Matériel concerné: {{getMaterialName(ticket.idMaterial)}}</p>
          <p class="card-text">Etat: {{ticket.status}}</p>
          <p class="card-text">Date de création: {{ticket.created_at | date : 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
