<html style="margin: 0; padding: 0; height: 100%; width: 100%; text-align: center" *ngIf="subscribe">
  <div class="jumbotron">
    <H1>Récapitulatif de la demande d'abonnement</H1>
  </div>
  <p>Nom de l'abonnement: {{subscriptionType.name}}</p>
  <p *ngIf="agreement">Temps d'abonnement: {{subscriptionType.agreementTime}} mois</p>
  <p *ngIf="!agreement">Temps d'abonnement: 1 mois</p>
  <p *ngIf="agreement">Prix: {{subscriptionType.agreementPrice}}€</p>
  <p *ngIf="!agreement">Prix: {{subscriptionType.subscriptionPrice}}€</p>
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  <button type="button" class="btn btn-primary" (click)="cancel()">Retour</button>
</html>

<html style="margin: 0; padding: 0; height: 100%; width: 100%" *ngIf="!subscribe">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float: right">
        <li class="nav-item" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
    <div class="card mb-3" style="width:33%; margin-left:  0.25%; text-align: center" *ngFor="let subscriptionType of subscriptionTypes">
      <h4 class="card-header"> {{subscriptionType.name}}</h4>
      <p style="position: relative; width: 80%; margin-left: 10%">{{subscriptionType.description}}</p>
      <br>
      <div *ngIf="subscriptionType.hourPrice !=null || subscriptionType.dayPrice != null" class="card-body">
        <h6> <b>Tarifs par personne:</b> </h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="subscriptionType.hourPrice != null">
            Première heure: {{subscriptionType.hourPrice}}€
          </li>
          <li class="list-group-item" *ngIf="subscriptionType.hourPrice != null">
            Demies heures suivantes: {{subscriptionType.hourPrice/2}}€
          </li>
          <li class="list-group-item" *ngIf="subscriptionType.dayPrice != null">
            Journée (plus de 5 heures): {{subscriptionType.dayPrice}}€
          </li>
        </ul>
      </div>
      <br>
      <div class="card-body" *ngIf="subscriptionType.studentPrice != null">
        <h6> <b>Réduction étudiante:</b> </h6>
        Journée: {{subscriptionType.studentPrice}}€
      </div>
      <div *ngIf="subscriptionType.subscriptionPrice != null">
        <div class="card-body">
          <h6> <b>Devenir membre sans engagement:</b> </h6>
          {{subscriptionType.subscriptionPrice}}€ TTC/mois
        </div>
        <div class="card-body">
          <h6> <b>Devenir membre sans engagement sur {{subscriptionType.agreementTime}} mois:</b> </h6>
          {{subscriptionType.agreementPrice}}€ TTC/mois
        </div>
      </div>
      <div class="card-footer" *ngIf="subscriptionType.subscriptionPrice != null">
        <button type="button" class="btn btn-primary" (click)="subscription(subscriptionType.id,1)">
          Souscrire
        </button>
        <button type="button" class="btn btn-outline-primary" *ngIf="subscriptionType.agreementPrice != null"
                (click)="subscription(subscriptionType.id,subscriptionType.agreementTime)" style="margin-left: 5%">
          S'engager
        </button>
      </div>

    </div>
  </body>
</html>
