<html style="margin: 0; padding: 0; height: 100%; width: 100%; text-align: center" *ngIf="creationLaunched">
  <div class="jumbotron">
    <h1 class="display-3">Veuillez confirmer la réservation</h1>
  </div>
  <p>Lieux: {{siteName}}</p>
  <p>En date du: {{date | date: 'E dd/MM/yyyy'}}</p>
  <p>De: {{start}}</p>
  <p>A: {{end}}</p>
  <input class="form-check-input" type="checkbox" value="" #checkCreate (change)="isChecked(checkCreate.checked)">
  Veuillez cocher cette pour activer la validation puis cliquer sur "Valider".
  <div style="margin: 5%">
    <button class="btn btn-primary" (click)="createReservation(materialId)" [disabled]="!isCheck">
      Valider
    </button>
    <button class="btn btn-outline-secondary" (click)="creationLaunched=false">Retour</button>
  </div>
</html>
<html style="margin: 0; padding: 0; height: 100%; width: 100%" *ngIf="!creationLaunched">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/reservation">Réservations <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float: right">
        <li class="nav-item" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
    <div class="modal-content" style="position: relative; width: 49%">
      <div class="modal-header">
        <h5 class="modal-title">Choix du lieu et de la date</h5>
      </div>
      <div class="modal-body">
        <form>
          <label>Centre de co'working: </label>
          <select class="custom-select form-control"  (change)="onSelect(selectSite.value)" #selectSite style="margin-bottom: 5px">
            <option value="" selected disabled hidden>---------Choisir une option---------</option>
            <option *ngFor="let site of sites" [value]="site.id">
              {{site.name}}
            </option>
          </select>
          <p *ngFor="let siteHour of siteHours" style="color:grey; line-height:0px; font-size: 10px">
            <b>{{siteHour.day}}</b>: OUVRE à {{siteHour.open}} FERME a {{siteHour.close}}
          </p>
          <label>Selectionner une date: </label>
          <input type="date" class="form-control" name="date" min="{{dateBlock | date:'yyyy-MM-dd'}}"
                 (change)="onChangeDate(calendar.value)" #calendar [disabled]="!isSelected" id ="calendar">
          <label>Début: </label>
          <input type="time" class="form-control" value="00:00" [disabled]="!dateIsChanged" step="3600"
                 id="start" #start (change)="startChange()">
          <label>Fin: </label>
          <input type="time" class="form-control" value="00:00" [disabled]="!dateIsChanged" step="3600"
                 id="end" #end (change)="endChange()">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="searchMaterials(start.value, end.value)"
                [disabled]="!startChanged || !endChanged">
          Lancer la rechercher de matériel
        </button>
      </div>
    </div>
    <div class="modal-content" style="margin-left:2%; position: relative; width: 49%" *ngIf="searchLaunched">
      <div class="modal-header">
        <h5 class="modal-title">Choix de l'objet de la réservation</h5>
      </div>
      <div class="modal-body">
        <h4>Salles :</h4>
        <table class="table table-hover" style="margin-top: 5px;">
          <thead class="table-success">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Réserver</th>
            </tr>
          </thead>
          <tbody *ngFor="let material of materials">
            <tr *ngIf="material.type == 'SR' || material.type == 'SA' ">
              <td>{{material.name}}</td>
              <td>
                <button type="button" class="btn btn-link" (click)="launchCreation(material.id)">Réserver</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Ordinateurs :</h4>
        <table class="table table-hover" style="margin-top: 5px;">
          <thead class="table-success">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Réserver</th>
          </tr>
          </thead>
          <tbody *ngFor="let material of materials">
          <tr *ngIf="material.type == 'Ordinateur'">
            <td>{{material.name}}</td>
            <td>
              <button type="button" class="btn btn-link" (click)="launchCreation(material.id)">Réserver</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>




