<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservation">Réservations</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/order">Commandes <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oursites">Voir nos sites</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="float: right">
      <li class="nav-item" *ngIf="user.type!='USER'">
        <a class="nav-link" href="/mytickets">Administration </a>
      </li>
      <li class="nav-item" *ngIf="user.type=='USER'">
        <a class="nav-link" href="/mytickets">Tickets </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
<body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
  <div class="jumbotron" style="width: 100%">
    <form>
      <div class="row" style="text-align: center">
        <div style="width: 22%">
          <h5>Choisir un site: </h5>
          <select class="custom-select form-control"  (change)="onSelect(selectSite.value)" #selectSite style="margin-bottom: 5px">
            <option value="" selected disabled hidden>----Choisir une option----</option>
            <option *ngFor="let site of sites" [value]="site.id">
              {{site.name}}
            </option>
          </select>
        </div>
        <div style="width: 22%; margin-left: 3%">
          <h5> Choisir une date: </h5>
          <input type="date" class="form-control" name="date" min="{{dateBlock | date:'yyyy-MM-dd'}}"
                 (change)="onChangeDate(calendar.value)" #calendar>
        </div>
        <div style="width: 22%; margin-left: 3%">
          <h5> Nombre de plateaux:</h5>
          <select class="custom-select form-control" #inputNbTrays>
            <option> 1 </option>
            <option> 2 </option>
            <option> 3 </option>
            <option> 4 </option>
            <option> 5 </option>
            <option> 6 </option>
            <option> 7 </option>
            <option> 8 </option>
            <option> 9 </option>
            <option> 10 </option>
          </select>
        </div>
        <div style="width: 22%; margin-left: 3%; transform: translateY(25%);">
          <button type="submit" class="btn btn-primary" (click)="createOrder(inputNbTrays.value)">
            Faire une commande
          </button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-hover">
    <thead class="table-success">
    <tr>
      <th scope="col">Site</th>
      <th scope="col">Date</th>
      <th scope="col">Nombre de plateaux</th>
    </tr>
    </thead>
    <tbody *ngFor="let i of index">
    <tr>
      <td>{{orderSite[i].name}}</td>
      <td>{{orders[i].date | date: 'E dd/MM/yyyy'}}</td>
      <td>{{orders[i].nbTrays}}</td>
    </tr>
    </tbody>
  </table>
</body>
