<div style="text-align:center">
  <img width="300" src="../../../assets/images/logo-cowork-inverse.png">
</div>
<form name="signInForm" (ngSubmit)="onSubmit(inputEmail.value , inputPassword.value)" style="text-align:center; margin-left: 20%; margin-right: 20%">
  <div class="form-group">
    <label>Adresse email: </label>
    <input type="email" class="form-control" name="email" placeholder="Email" #inputEmail>
  </div>
  <div class="form-group">
    <label>Mot de passe: </label>
    <input type="password"  class="form-control" name="password"
           placeholder="Mot de passe" #inputPassword>
  </div>
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
<div style="text-align:center">
  Vous êtes nouveau? <button type="button" class="btn btn-link" (click)="router.navigate(['/signup'])">Créez un compte!</button>
</div>
