<html style="margin: 0; padding: 0; height: 100%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item active" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
      <ul class="nav nav-tabs" style="margin-top: 5px" *ngIf="user.type!='USER'">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/mytickets">Mes tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="/ticket">Tickets non affectés</a>
        </li>
        <li *ngIf="user.type=='ADMIN' " class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/view-ticket">Tous les tickets</a>
        </li>
        <li *ngIf="user.type=='ADMIN' " class="nav-item">
          <a class="nav-link"  data-toggle="tab" href="/sites">Sites</a>
        </li>
        <li *ngIf="user.type=='ADMIN' " class="nav-item">
          <a class="nav-link"  data-toggle="tab" href="/users">Utilisateurs</a>
        </li>
        <li *ngIf="user.type =='ADMIN'" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/view-reservation">Réservations</a>
        </li>
        <li *ngIf="user.type=='ADMIN' " class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/view-order">Commandes</a>
        </li>
        <li *ngIf="user.type=='ADMIN' " class="nav-item">
          <a class="nav-link" data-toggle="tab" href="/view-material">Matériel</a>
        </li>
      </ul>

  <body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
    <table class="table table-hover">
      <thead class="table-success">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Sujet</th>
        <th scope="col">Type</th>
        <th scope="col">Matériel concerné</th>
        <th scope="col">Date de création</th>
        <th scope="col">Affecter</th>
      </tr>
      </thead>
      <tbody *ngFor="let ticket of tickets">
      <tr>
        <td>{{ticket.title}}</td>
        <td>{{ticket.subject}}</td>
        <td>{{ticket.type}}</td>
        <td>{{getMaterialName(ticket.idMaterial)}}</td>
        <td>{{ticket.created_at | date :'dd/MM/yyyy HH:mm'}}</td>
        <td> <button type="btn" class="btn btn-link" (click)="takeTicket(ticket.id)">Prendre en charge</button></td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
