<html style="margin: 0; padding: 0; height: 100%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float: right">
        <li class="nav-item" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item" *ngIf="user.type=='USER'">
          <a class="nav-link" href="/mytickets">Tickets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: 0; position: relative;">
    <div class="jumbotron">
      <h4>Bonjour {{user.firstName}} {{user.lastName}}, bienvenue chez Co'Work</h4>
      <p>Le site co'work vous permet de réserver des salles de réunion, des ordinateurs ou des plateaux repas pour vos tous vos rendez-vous dans l'un de nos multiples sites!</p>
      <p>Si vous rencontrez le moindre problème technique, merci d'ouvrir un ticket dans la rubrique dédiée pour que notre support puisse tout mettre en oeuvre pour que vous soyez pleinement satisfait.</p>
      <p>N'hésitez pas a vous abonner pour profiter d'offres exceptionnelles.</p>
      <p>Vous pouvez aussi regarder tous nos sites et les avantages qu'ils proposent dans la rubrique "Voir nos sites"</p>
      <br>
      <div  style="margin: 0; padding: 0; height: 100%; width: 100%; text-align: center" *ngIf="user.type != 'USER'">
        <p>Pour vous faciliter la vie dans la gestion des tickets télécharger l'application Co'Work:
        <a href="../../../assets/toDownload/cowork.apk" download>Télécharger l'apk</a>
        </p>
      </div>
    </div>
    <div class="row" style="padding: 0; margin: 0; position: relative;" >
      <div class="card border-primary mb-3" style="position: relative; width: 48%">
        <div class="card-header">Mes réservations à venir</div>
        <div class="card-body" *ngIf="reservations">
          <h4 class="card-title">Nombre de réservation(s): {{reservations.length}}  </h4>
          <ul>
            <li *ngFor="let i of index">
              <h5> {{materialList[i].name}} - {{siteList[i].name}} </h5>
               <p>{{reservations[i].startDate | date :'EEEE dd/MM/yyyy HH:mm'}}
                 à {{reservations[i].endDate | date :'HH:mm'}}</p>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="!reservations">
          <h4 class="card-title">Aucune réservation en attente</h4>
          <p>
            Réservez des salles et des ordinateurs dans nos différents centres de co'working sans plus attendre
            en vous rendant sur notre page de réservation !
          </p>
          <button class="btn btn-primary" style="float: right;" (click)="goToReservation()">Réservations</button>
        </div>
      </div>
      <div class="card border-primary mb-3" style="position: relative; width: 48%; margin-left: 4%">
        <div class="card-header">Mon abonnement en cours...
          <p *ngIf="needSubscription" style="color: red">Attention, votre abonnement se termime bientot</p>
        </div>
        <div class="card-body" *ngIf="!currentSubscription">
          <h4 class="card-title">{{currentSubscriptionType.name}}</h4>
          <div *ngIf="currentSubscriptionType.hourPrice !=null || currentSubscriptionType.dayPrice != null" class="card-body"
          style="text-align: center">
            <h6> <b>Tarifs par personne:</b> </h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="currentSubscriptionType.hourPrice != null">
                Première heure: {{currentSubscriptionType.hourPrice}}€
              </li>
              <li class="list-group-item" *ngIf="currentSubscriptionType.hourPrice != null">
                Demies heures suivantes: {{currentSubscriptionType.hourPrice/2}}€
              </li>
              <li class="list-group-item" *ngIf="currentSubscriptionType.dayPrice != null">
                Journée (plus de 5 heures): {{currentSubscriptionType.dayPrice}}€
              </li>
            </ul>
          </div>
          <br>
          <div class="card-body" *ngIf="currentSubscriptionType.studentPrice != null" style="text-align: center">
            <h6> <b>Réduction étudiante:</b> </h6>
            Journée: {{currentSubscriptionType  .studentPrice}}€
          </div>
          <button class="btn btn-primary" style="float: right;" (click)="goToSubscription()">Abonnements</button>
        </div>
        <div class="card-body" *ngIf="currentSubscription">
          <h4>{{currentSubscriptionType.name}}</h4>
          <p>Date de début: {{currentSubscription.startDate | date :'EEEE dd/MM/yyyy'}} </p>
          <p>Date de fin: {{currentSubscription.endDate | date :'EEEE dd/MM/yyyy'}}</p>
          <div *ngIf="currentSubscriptionType.hourPrice !=null || currentSubscriptionType.dayPrice != null" class="card-body"
          style="text-align: center">
            <h6> <b>Tarifs par personne:</b> </h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="currentSubscriptionType.hourPrice != null">
                Première heure: {{currentSubscriptionType.hourPrice}}€
              </li>
              <li class="list-group-item" *ngIf="currentSubscriptionType.hourPrice != null">
                Demies heures suivantes: {{currentSubscriptionType.hourPrice/2}}€
              </li>
              <li class="list-group-item" *ngIf="currentSubscriptionType.dayPrice != null">
                Journée (plus de 5 heures): {{currentSubscriptionType.dayPrice}}€
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>




