<style>a {cursor: pointer;}</style>
<section class="mb-5 m-2">
  <div class="container-fluid">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</section>
<footer>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</footer>
