<html style="margin: 0; padding: 0; height: 100%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/oursites">Voir nos sites <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item " *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>

  <body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
    <div class="jumbotron" style="width: 100%">
      <p>Chez Co'Work il existe 3 types de salles disponibles dans la plupart de nos sites:</p>
      <p>   - <B>Les salles de réunions: </B>ces grandes sont réservable et sont disponibles dans la plupart de nos sites. Elles sont idéales pour vos réunion de travail entre équipes ou avec des clients.</p>
      <p>   - <B>Les salles d'appels: </B>ces petites salles sont réservable et sont disponibles dans la plupart de nos sites. Elles sont équipé d'un téléphone pour passer vos coups de fils professionnels ou personnels.</p>
      <p>   - <B>Les salons cosy: </B>ces très grandes salles ne sont pas réservables et sont libre d'accès a que le souhaite. Idéal pour les réunions moins formelles ou pour venir travailler dans une ambiance qui reste professionnelle.</p>
      <p> Vous pouvez aussi réserver des ordinateurs portables dans la plupart de nos sites, sous condition de disponibilité.</p>
    </div>
    <div class="card mb-3" style="width:33%; margin-left:  0.25%; text-align: center" *ngFor="let site of sites">
      <h4 class="card-header"> {{site.name}}</h4>
      <div class="card-body">
        <p class="card-text"> Adresse: {{site.address}}</p>
        <div *ngFor="let siteHour of siteHours">
          <p *ngIf="siteHour.idSite == site.id" style="color:grey; line-height:0px; font-size: 10px">
            {{siteHour.day}}: OUVERT de {{siteHour.open}} à {{siteHour.close}}
          </p>
        </div>
        <p class="card-text" *ngIf="site.hightWiFi"> Wifi Haut débit</p>
        <p class="card-text" *ngIf="site.trays"> Plateaux repas</p>
        <p class="card-text" *ngIf="site.illimitedCons"> Consomation illimitée sur place</p>
        <div *ngFor="let materialCounter of materialsCounter">
          <div *ngIf="materialCounter.idSite == site.id">
            <p><B>Salle de réunion:</B></p>
            <p>{{materialCounter.countSR}}</p>
            <p><B>Salle d'appel:</B></p>
            <p>{{materialCounter.countSA}}</p>
            <p><B>Salon cosy:</B></p>
            <p>{{materialCounter.countSalon}}</p>
            <p><B>Imprimante:</B></p>
            <p>{{materialCounter.countPrinter}}</p>
            <p><B>Ordinateur:</B></p>
            <p>{{materialCounter.countComputer}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
