<html style="margin: 0; padding: 0; height: 100%; width: 100%; text-align: center" *ngIf="deleted">
<div class="jumbotron">
  <h1 class="display-3">Veuillez confirmer la suppression du site</h1>
</div>
<p>Voulez vous vraiment supprimer le site: {{site.name}} ?</p>
<input class="form-check-input" type="checkbox" value="" #checkCreate (change)="isChecked(checkCreate.checked)">
Veuillez cocher cette pour activer la suppression puis cliquer sur "Supprimer".
<div style="margin: 5%">
  <button class="btn btn-danger" (click)="onRemove()" [disabled]="!isCheck">
    Supprimer
  </button>
  <button class="btn btn-outline-secondary" (click)="deleted=false">Retour</button>
</div>
</html>
<html style="margin: 0; padding: 0; height: 100%; width: 100%" *ngIf="!deleted">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item active" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <body style="padding: 0; margin: 0; position: relative; margin-top: 5px; text-align: center; width: 100%">
    <div *ngIf="site">
      <h3>Informations site:</h3>
      <p>Name: </p>
      <input type="text" style="width: 60%; text-align: center; margin-left: 20%" class="form-control"
             value="{{site.name}}" id="inputName">
      <br>
      <p>Adresse:</p>
      <input type="text" style="width: 60%; text-align: center; margin-left: 20%" class="form-control"
             value="{{site.address}}" id="inputAddress">
      <br>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="hightWiFi" [checked]="site.hightWiFi">
        <label class="custom-control-label" for="hightWiFi">WiFi au débit</label>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="trays" [checked]="site.trays">
        <label class="custom-control-label" for="trays">Plateaux repas</label>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="illimitedCons" [checked]="site.illimitedCons">
        <label class="custom-control-label" for="illimitedCons">Consomations illimitées</label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" (click)="updateSite()">
        Modifier les informations du site
      </button>
    </div>
    <br>
    <div *ngIf="siteHours">
      <h3>Horaires du site:</h3>
      <table class="table table-hover">
        <thead class="table-success">
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Ouverture</th>
          <th scope="col">Fermeture</th>
        </tr>
        </thead>
        <tbody *ngFor="let siteHour of siteHours">
        <tr>
          <td>{{siteHour.day}}</td>
          <td>
            <input type="time" class="form-control" value="{{siteHour.open}}" step="3600" #start
                   (change)="onChangeStartHour(start.value,siteHour.close, siteHour.day, siteHour.idSite, siteHour.id)">
          </td>
          <td>
            <input type="time" class="form-control" value="{{siteHour.close}}" step="3600" #end
                   (change)="onChangeEndHour(end.value, siteHour.open, siteHour.day, siteHour.idSite, siteHour.id)">
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Liste du matériel: </h3>
      <p><B>Salle de réunion:</B></p>
      <div class="row" style="margin-left: 44%">
        <button class="btn btn-danger" (click)="deleteMaterial('SR')"><B>-</B></button>
        <p style="margin-left: 5%">{{countSR}}</p>
        <button class="btn btn-success" style="margin-left: 5%" (click)="createMaterial('SR')"><B>+</B></button>
      </div>
      <p><B>Salle d'appel:</B></p>
      <div class="row" style="margin-left: 44%">
        <button class="btn btn-danger" (click)="deleteMaterial('SA')"><B>-</B></button>
        <p style="margin-left: 5%">{{countSA}}</p>
        <button class="btn btn-success" style="margin-left: 5%" (click)="createMaterial('SA')"><B>+</B></button>
      </div>
      <p><B>Salon cosy:</B></p>
      <div class="row" style="margin-left: 44%">
        <button class="btn btn-danger" (click)="deleteMaterial('Salon')"><B>-</B></button>
        <p style="margin-left: 5%">{{countSalon}}</p>
        <button class="btn btn-success" style="margin-left: 5%" (click)="createMaterial('Salon')"><B>+</B></button>
      </div>
      <p><B>Imprimante:</B></p>
      <div class="row" style="margin-left: 44%">
        <button class="btn btn-danger" (click)="deleteMaterial('Imprimante')"><B>-</B></button>
        <p style="margin-left: 5%">{{countPrinter}}</p>
        <button class="btn btn-success" style="margin-left: 5%" (click)="createMaterial('Imprimante')"><B>+</B></button>
      </div>
      <p><B>Ordinateur:</B></p>
      <div class="row" style="margin-left: 44%">
        <button class="btn btn-danger" (click)="deleteMaterial('Ordinateur')"><B>-</B></button>
        <p style="margin-left: 5%">{{countComputer}}</p>
        <button class="btn btn-success" style="margin-left: 5%" (click)="createMaterial('Ordinateur')"><B>+</B></button>
      </div>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-outline-danger" (click)="deleteSite()">
      Supprimer le site
    </button>
  </body>
</html>
