<html style="margin: 0; padding: 0; height: 100%; width: 100%">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Accueil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservation">Réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oursites">Voir nos sites</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="float:right">
      <li class="nav-item active" *ngIf="user.type!='USER'">
        <a class="nav-link" href="/mytickets">Administration <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Compte </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="nav nav-tabs" style="margin-top: 5px">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/mytickets">Mes tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/ticket">Tickets non affectés</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-ticket">Tous les tickets</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="/sites">Sites</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="/users">Utilisateurs</a>
  </li>
  <li *ngIf="user.type =='ADMIN'" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-reservation">Réservations</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/view-order">Commandes</a>
  </li>
  <li *ngIf="user.type=='ADMIN' " class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/view-material">Matériel</a>
  </li>
</ul>

<body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
<div class="jumbotron row" style="width: 100%; text-align: center; padding: 30px; margin: 0; position: relative">
  <div style="width: 20%; text-align: center;">
    <p>Type: </p>
    <select class="custom-select form-control" style="width: 90%" id="selectType" #selectType>
      <option value="">Tous</option>
      <option value="SR">Salle de réunion</option>
      <option value="SA">Salle d'appel</option>
      <option value="Salon">Salon cosy</option>
      <option value="Imprimante">Imprimante</option>
      <option value="Ordinateur">Ordinateur</option>
    </select>
  </div>
  <div style="width: 20%; text-align: center;">
    <p>Reservable: </p>
    <select class="custom-select form-control" style="width: 90%" id="selectReservable"  #selectReservable>
      <option value="">Tous</option>
      <option value="1">Oui</option>
      <option value="0">Non</option>
    </select>
  </div>
  <div style="width: 20%; text-align: center;">
    <p>Défecteux: </p>
    <select class="custom-select form-control" style="width: 90%" id="selectDefect" #selectDefect>
      <option value="">Tous</option>
      <option value="1">Oui</option>
      <option value="0">Non</option>
    </select>
  </div>
  <div style="width: 20%; text-align: center;">
    <p>Site: </p>
    <select class="custom-select form-control" style="width: 90%"  #selectSite>
      <option value="">Tous</option>
      <option *ngFor="let siteOfArray of sites" [value]="siteOfArray.id" >
        {{siteOfArray.name}}
      </option>
    </select>
  </div>
  <div style="width: 20%; text-align: center;">
    <button class="btn btn-primary" style="top: 50%; transform: translateY(50%);"
            (click)="activeFilter(selectType.value, selectReservable.value, selectDefect.value, selectSite.value)">
      Filtrer
    </button>
    <button class="btn btn-outline-danger" style="top: 50%; transform: translateY(50%); margin-left: 5px"
            (click)="deleteFilter()" [disabled]="!filtred">
      Supprimer le(s) filtre(s)
    </button>
  </div>
</div>

<table class="table table-hover" style="margin-top: 5px;" *ngIf="!filtred">
  <thead class="table-success">
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Nom</th>
    <th scope="col">Reservable</th>
    <th scope="col">Défecteux</th>
    <th scope="col">Site</th>
  </tr>
  </thead>
  <tbody *ngFor="let materialOffArray of materials ">
  <tr>
    <td>{{getMaterialType(materialOffArray.type)}}</td>
    <td>{{materialOffArray.name}}</td>
    <td>{{getMaterialBool(materialOffArray.reservable)}}</td>
    <td>{{getMaterialBool(materialOffArray.defect)}}</td>
    <td>{{getSiteName(materialOffArray.idSite)}}</td>
  </tr>
  </tbody>
</table>

<table class="table table-hover" style="margin-top: 5px;" *ngIf="filtred">
  <thead class="table-success">
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Nom</th>
    <th scope="col">Reservable</th>
    <th scope="col">Défecteux</th>
    <th scope="col">Site</th>
  </tr>
  </thead>
  <tbody *ngFor="let materialOffArray of materialFiltred">
  <tr>
    <td>{{getMaterialType(materialOffArray.type)}}</td>
    <td>{{materialOffArray.name}}</td>
    <td>{{getMaterialBool(materialOffArray.reservable)}}</td>
    <td>{{getMaterialBool(materialOffArray.defect)}}</td>
    <td>{{getSiteName(materialOffArray.idSite)}}</td>
  </tr>
  </tbody>
</table>
</body>
</html>

