<html style="margin: 0; padding: 0; height: 100%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img width="50" src="../../../assets/images/logo-cowork-inverse.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservation">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oursites">Voir nos sites</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="float:right">
        <li class="nav-item active" *ngIf="user.type!='USER'">
          <a class="nav-link" href="/mytickets">Administration <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Compte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userService.signOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="nav nav-tabs" style="margin-top: 5px">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/mytickets">Mes tickets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/ticket">Tickets non affectés</a>
    </li>
    <li *ngIf="user.type=='ADMIN' " class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/view-ticket">Tous les tickets</a>
    </li>
    <li *ngIf="user.type=='ADMIN' " class="nav-item">
      <a class="nav-link active"  data-toggle="tab" href="/sites">Sites</a>
    </li>
    <li *ngIf="user.type=='ADMIN' " class="nav-item">
      <a class="nav-link"  data-toggle="tab" href="/users">Utilisateurs</a>
    </li>
    <li *ngIf="user.type =='ADMIN'" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/view-reservation">Réservations</a>
    </li>
    <li *ngIf="user.type=='ADMIN' " class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/view-order">Commandes</a>
    </li>
    <li *ngIf="user.type=='ADMIN' " class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/view-material">Matériel</a>
    </li>
  </ul>
 <body style="padding: 0; margin: 0; position: relative; margin-top: 5px" class="row">
   <div class="jumbotron" style="width: 100%">
     <form>
       <div class="row" style="text-align: center">
         <div style="width: 20%">
           <label style="transform: translateY(50%);"> Nom du site: </label>
         </div>
         <div style="width: 20%">
           <input type="text" class="form-control" name="name" placeholder="Nom du site" #inputName>
         </div>
         <div style="width: 20%">
           <label style="transform: translateY(50%);"> Adresse du site: </label>
         </div>
         <div style="width: 20%; text-align: left">
           <input type="text" class="form-control" name="address" placeholder="Adresse du site" #inputAddress>
         </div>
         <div style="width: 20%">
           <button type="submit" class="btn btn-primary" (click)="createSite(inputName.value,inputAddress.value)">
             Créer le site
           </button>
         </div>
       </div>
     </form>
   </div>
    <div class="card mb-3" style="width:33%; margin-left:  0.25%; text-align: center" *ngFor="let site of sites">
      <h4 class="card-header"> {{site.name}}</h4>
      <div class="card-body">
        <p class="card-text"> Adresse: {{site.address}}</p>
        <div *ngFor="let siteHour of siteHours">
          <p *ngIf="siteHour.idSite == site.id" style="color:grey; line-height:0px; font-size: 10px">
            {{siteHour.day}}: OUVERT de {{siteHour.open}} à {{siteHour.close}}
          </p>
        </div>
        <p class="card-text" *ngIf="site.hightWiFi"> Wifi Haut débit</p>
        <p class="card-text" *ngIf="site.trays"> Plateaux repas</p>
        <p class="card-text" *ngIf="site.illimitedCons"> Consomation illimitée sur place</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="siteAccess(site.id)">Accéder au site</button>
      </div>
    </div>
 </body>
</html>
