<html style="margin-top:5%; padding: 0; height: 100%; width: 100%">
  <body style="padding: 0; margin: 0; position: relative;" class="row">
  <div style="width: 20%; position: relative;">
    <img width="200" style="position: absolute; top: 50%; transform: translateY(-50%);" src="../../../assets/images/logo-cowork-inverse.png">
  </div>
  <div style="width: 80%">
    <div style="text-align: center">
      <form name="signInForm"
            (ngSubmit)="onSubmit(inputLastname.value, inputFirstname.value, inputEmail.value, inputPassword.value, inputRepeatPassword.value)" >
        <div class="form-group">
          <label>Nom: </label>
          <input type="text" class="form-control" name="lastname" placeholder="Nom" #inputLastname>
        </div>
        <div class="form-group">
          <label>Prénom: </label>
          <input type="text" class="form-control" name="firstname" placeholder="Prénom" #inputFirstname>
        </div>
        <div class="form-group">
          <label>Adresse email: </label>
          <input type="email" class="form-control" name="email" placeholder="Email" #inputEmail>
        </div>
        <div class="form-group">
          <label>Mot de passe: </label>
          <input type="password"  class="form-control" name="password"
                 placeholder="Mot de passe" #inputPassword>
        </div>
        <div class="form-group">
          <label>Répéter mot de passe: </label>
          <input type="password"  class="form-control" name="password"
                 placeholder="Mot de passe" #inputRepeatPassword>
        </div>
        <button type="submit" class="btn btn-primary">Créer le compte</button>
      </form>
      <div style="text-align:center">
        Vous avez déjà un compte? <button type="button" class="btn btn-link" (click)="router.navigate(['/'])">Connectez vous !</button>
      </div>
    </div>
  </div>
  </body>
</html>
